@using React.AspNet
@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/js/App.jsx")"></script>